@charset "UTF-8"; 

body {
    background-color: #89a8b8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #159A9C;
    text-shadow: 0.5px 0.5px 0.5px black;

}

h2 {
    color: #B4BEC9;
    text-shadow: 0.5px 0.5px 0.5px black;
    
}

.basico { 
    color: rgba(0, 255, 64, 0.493);
}

.intermediario {
    color: rgba(238, 255, 0, 0.493);
}

.avancado {
    color: rgba(255, 0, 0, 0.493);
}

.destaque {
    background-color: blue;
}